
/* stylelint-disable selector-list-comma-newline-after */
*{
  margin:0;
}
body{
  background-color: black;
  color: white;
}
.row{
  margin: 0;
}

.blog-header {
  line-height: 1;
  /* border-bottom: 1px solid #e5e5e5; */
  max-width: 100%;
  text-align: center;
}
.Header{
  text-align: center;
  margin: auto;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 2rem;
}
#team{
  margin-top:3rem;
  margin-bottom: 3rem;
}
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 0) {
  .display-4 {
    font-size: 3rem;
  }
}

p,li{
    font-size: 1.25rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.tools{
  text-align:center;
}
.tools img{
  margin:10px 0;
}
.circular{
  border-radius:50%;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 3rem;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: auto; }
@media (min-width: 0) {
  .h-md-250 { height: auto; }
}


/* Pagination */
.blog-pagination {
  margin-bottom: 1rem;
  text-align: center;
  column-gap: 1.25rem;
}
.blog-pagination > .btn {
  border-radius: 1rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

/*
 * Footer
 */
.blog-footer {
  color:white;
  padding:0.75rem 0.75rem;
  text-align: center;
  background-color: #079ecb;;
}
.blog-footer p {
  margin-bottom: 0;
  font-size: 1rem;
}


a{
  margin: 0.75rem;
  font-size: 1.2rem;
  color: white;

}
a:hover{
  color:black;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 6rem;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
.top-right1 {
  position: absolute;
  top: 0.75rem;
  right:26.56rem;
  text-decoration: none;

}
.top-right2 {
  position: absolute;
  top: 0.75rem;
  right: 20.31rem;
  text-decoration: none;

}
.top-right3 {
  position: absolute;
  top: 0.75rem;
  right: 14rem;
  text-decoration: none;
}
.top-right4 {
  position: absolute;
  top: 0.25rem;
  right: 3rem;
  
}